block pageInfo
  - let title = "Default Title";

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Rubik+Mono+One&display=swap", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")

    meta(name="theme-color" content="#3a30f8")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicons/favicon-16x16.png")
    link(rel="manifest", href="img/favicons/site.webmanifest")
    link(rel="mask-icon", href="img/favicons/safari-pinned-tab.svg", color="#000000")
    meta(name="apple-mobile-web-app-title", content="Rizor")
    meta(name="application-name", content="Rizor")
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="theme-color", content="#ffffff")

  body
    include ../assets/sprite.svg
    include ../include/_header

    main.page-main
      block content

    include ../include/_side-nav
    include ../include/_footer

    script(src="js/navigation.js")
    script(src="js/video.js")
    script(src="js/slider.js")

