block pageInfo
  - let companyName = "Unnamed Company"
  - let productName = "Default product name";
  - let title = "Default Title";

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Rubik+Mono+One&display=swap", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")

  body
    include ../assets/sprite.svg
    include ../include/_header

    main.page-main
      block content

    include ../include/_footer

    script(src="js/script.js")

