extends layout/_base

block pageInfo

  - const companyName = "Rizor";

  - const product = {company: companyName, line: "Hovertrax", ver: "4.0"}

  - title = `${product.company} ${product.line} ${product.ver}`

  - const navItems = {"#features": "Преимущества", "#specs": "Характеристики", "#for-whom": "Для кого"}



block content
  include lib/__mixins


  include include/intro
  include include/features
  include include/specs
  include include/for-whom


