extends layout/_base

block pageInfo
  - productName = "Rizor Hovertrax 4.0"
  - title = productName


block content
  include include/intro
  include include/features
  include include/specs
  include include/for_whom


