.color-choose
  width: 72.97% //270px
  &__list
    display: flex
    justify-content: space-around
    margin: 55px 0 30px
    padding: 0 5px

    list-style: none

.color
  font-size: 0
  &__val:focus ~ &__label &__icon
    stroke: $primary-accent
    transform: scale(1.5)

  &__val:checked ~ &__label &__pointer
    display: block

  &__pointer
    display: none
    top: 7px
    right: 9px

.preview
  display: flex
  align-items: center
  width: 100%
  height: 100%

  &__image
    position: relative
    top: 16px

    width: 88.37%
    height: auto
