.features
  width: 100%
  padding-top: 107px
  overflow-x: hidden

  &__wrapper
    position: relative

    justify-content: flex-end
    min-height: 750px
  &__media
    flex: 1 0 auto
    width: 39vw
    height: 750px
  &__text
    flex: 0 0 68.35%
    padding: 50px 0 0
    padding-left: 100px

  &__specs
    display: flex
    justify-content: space-between
    @include reset-list
    @media screen and (max-width: 700px)
      flex-direction: column

  &__specs-item
    &--design
      flex: 0 0 300px
      margin-right: $container-padding * 2    // 30px
      @media screen and (max-width: 1100px)
        margin-right: 0
    &--color
      margin-top: 265px
      flex: 0 0 370px
      @media screen and (max-width: 700px)
        margin-top: 32px
    @media screen and (max-width: 1100px)
      flex: 0 1 48%
    @media screen and (max-width: 700px)
      flex-basis: auto

  &__headline
    margin-bottom: 41px

    color: $primary-accent

  &__pointer
    top: 29px
    left: -54px

  &__decorative
    top: -11.5%
    right: -16.7%

    margin: 0

    font-size: 173px
    line-height: 0.985
    text-align: right
    color: $secondary-light
    letter-spacing: 10px

    @include rotate-text

    & .product__ver
      letter-spacing: -0.25em

      -webkit-margin-end: 34px
      margin-inline-end: 50px

  @media screen and (max-width: 1100px)

    &__wrapper
      flex-direction: column
      min-height: auto

    &__media
      left: 50%
      margin-left: -50vw
      margin-right: -50vw
      max-width:
      max-height: 400px
      right: 50%
      width: 100vw

    &__text
      margin-top: 20px
      padding: 0px 30px
      flex-grow: 1
      z-index: 2

    &__headline
      margin-bottom: 5px

    &__features__specs li
      width: 50%

    &__decorative
      bottom: 0
      top: auto
      // color: black
      right: auto
      left: 0
      text-align: left

  @media screen and (max-width: 700px)
    padding-top: 0px

    &__headline
      margin-bottom: 15px
