.for-whom
  min-height: 790px
  padding-top: 117px
  overflow: hidden

  &__wrapper
    width: 100%
    min-height: 790px

    @include accent-colors--invert

  &__content
    position: relative

  &__media
    position: relative
    top: -60px

    display: block
    flex: 1 0 auto
    order: 2
    width: 63.4vw
    height: 750px

    background: $gradient-accent

  &__image
    width: 100%
    height: 100%

    object-fit: cover
    object-position: left bottom

  &__text
    position: relative

    flex: 0 0 31.6%
    padding-top: 52px
    padding-right: 20px

  &__message
    margin: 50px 0 21px

  &__button
    margin-top: 74px

  &__decorative
    top: 0
    left: -59.5%

    width: 900px
    height: 115%

    fill: rgba(255, 255, 255, 0.03)
