.intro
  width: 100%
  overflow: hidden
  margin-top: 100px
  &__wrapper
    display: flex
    position: relative
    min-height: 750px

  &__media
    order: 1
    position: absolute
    left: 20.95vw // 25.26vw // 485px / 1920px * 100
    z-index: -1
    width: auto
    max-width: none

  &__headline
    font-family: 'Rubik Mono One'
    font-size: 80px
    letter-spacing: 6.4px
    text-transform: uppercase

  &__subheader
    line-height: 1.5
    letter-spacing: 1.6px
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
