.intro
  width: 100%
  min-height: 878px
  margin-top: 65px
  padding: 35px 0 93px
  overflow: hidden

  &__wrapper
    min-height: 750px

  &__media
    flex: 1 0 auto
    order: 1
    width: 57vw
    height: 750px

  &__preview
    object-position: left center

  &__text
    position: relative
    z-index: 1

    flex: 0 0 470px
    max-width: 470px
    padding-top: 184px
    overflow: visible

  &__title
    margin: 0

  &__scroll-down
    display: block
    width: 100%
    margin-top: 32px
    padding-left: 30px

    font-size: 0
    @include colorize-text-icon($primary-accent)

    &:hover,
    &:focus
      @include colorize-text-icon($secondary-accent)
      & svg
        transform: scale(1.2)
        transition: transform 0.5s

    &:focus
      outline: none

  &__decorative
    top: -6%
    left: -158%
    z-index: -1

    width: 900px
    height: 121%

  &__pointer
    right: 57px
    top: -31px

  &__play
    top: 75px
    left: -73px
