.main-nav
  justify-content: space-between
  align-items: center
  &__logo
    font-size: 0

  &__toggle
    display: none
  &__list
    display: flex
    justify-content: space-between
    width: (500 / 1200) * 100%

    @include reset-list

  &__item
    font-weight: bold
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1.12px

  &__link
    position: relative

    color: $primary-foreground
    text-decoration: none

    &::before
      content: ""
      position: absolute
      bottom: -3px

      height: 1px

      background-color: $primary-accent

      transition: all 0.8s ease-out 0.5s

    &--current::before
      left: -10px

      width: 20px

    &:hover,
    &:focus
      color: $primary-accent
      &::before
        left: 0

        width: 40%

      &:active::before
        width: 100%

    &:focus
      outline: none

@media screen and (max-width: 1200px)
  .main-nav__list
    width: 50%

@media screen and (max-width: 886px)
  .main-nav__list
    width: 60%

@media screen and (max-width: 700px)
  .main-nav
    justify-content: start
    position: relative
    background-color: #35ff028c
    &__logo
      order: 1
      margin: 0 auto

    &__list
      position: absolute
      left: 0

      display: none
      flex-direction: column
      justify-content: start
      width: 100%
      top: 100%
      height: 120vh
      padding: 30px 20px

      background-color: rgba(255, 255, 255, 0.8)

      &--show
        display: flex

    &__toggle
      display: block
      background-color: transparent
      border: none
