.product-info
  &__title
    @include category-title

  &__list
    list-style: none

  &__spec
    position: relative
    // display: flex
  &__spec::before
    position: absolute
    content: ""
    background-color: $primary-foreground
    width: 30px
    height: 5px
    left: -35px
    top: 10px
