.specs
  margin-top: 174px
  padding: 64px 0
  overflow: hidden

  &__media
    flex: 1 0 auto
    order: 1
    width: 57vw
    height: 750px

  &__text
    flex: 0 0 475px
    max-width: 475px
    padding-top: 73px

  &__play
    bottom: 80px
    left: -61px
