.specs
  margin-top: 176px
  padding: 64px 0
  overflow: hidden

  &__wrapper
    position: relative
    @media screen and (max-width: 1100px)
      flex-direction: column

  &__media
    flex: 1 0 auto
    order: 1
    width: 57vw
    height: 750px
    @media screen and (max-width: 1100px)
      height: auto
      width: 88vw
      right: $container-padding

  &__text
    flex: 0 0 475px
    max-width: 475px
    padding-top: 73px
    @media screen and (max-width: 1100px)
      max-width: none
      padding-top: 0
      padding-left: 100px
    @media screen and (max-width: 700px)
      padding-left: 0

  &__play
    bottom: 80px
    left: -61px
    @media screen and (max-width: 1100px)
      top: 70px
      right: 0
      bottom: auto
      left: auto
    @media screen and (max-width: 700px)
      right: -30px

  &__pointer
    top: 31px
    right: 45px
    @media screen and (max-width: 700px)
      display: none

  &__decorative
    top: -11%
    left: -60.5%
    z-index: -1

    width: 900px
    height: 123%
