.video
  position: relative

  background-image: $gradient-accent
  cursor: pointer
  &__preview
    width: 100%
    height: 100%

    object-fit: cover

  &__play
    position: absolute
    z-index: 3

    font-weight: bold
    font-size: 12px
    line-height: 1.2
    text-transform: uppercase

    background: none
    border: none
    cursor: pointer

    display: flex

    @include focus-reset

    &:hover,
    &:focus
      transform: scale(1.1)
      color: $primary-accent

    &:hover &-icon,
    &:focus &-icon

      fill: $primary-background
      filter: drop-shadow(0 0 5px $primary-accent)

    &--simple
      top: 50%
      left: 50%

      padding: 28px 24px
      padding-left: 36px

      background-color: rgba(255, 255, 255, 0.8)
      border-radius: 50%
      transform: translate(-50%, -50%)

    &-text
      text-align: left
      text-orientation: mixed

      transform: rotate(180deg)

      writing-mode: vertical-rl
      margin-right: 5px

    &-icon
      filter: drop-shadow(0px 3px 7px rgba(0, 0, 1, 0.3))

      fill: $primary-accent

      flex-shrink: 0

      &--simple
        filter: none

  @media screen and (max-width: 1100px)
    display: flex
    min-height: 500px
    &__link
      display: flex // remove empty space
      width: 100%

    &__preview
      height: auto
      z-index: 0

  @media screen and (max-width: 700px)
    min-height: 250px
    &__play-text
      font-size: 0

    &__play-icon
      height: 42px
      width: auto
