.video
  cursor: pointer
  &__preview
    width: 100%
    height: 100%

    object-fit: cover

  &__play
    position: absolute
    top: 75px
    left: -73px
    z-index: 3

    font-weight: bold
    font-size: 12px
    line-height: 1.2
    text-transform: uppercase
    text-transform: uppercase

    background: none
    border: none
    cursor: pointer

    display: flex

    &-text
      text-align: left
      text-orientation: mixed

      transform: rotate(180deg)

      writing-mode: vertical-rl
      margin-right: 5px

    &-icon
      filter: drop-shadow(0px 3px 7px rgba(0, 0, 1, 0.3))

      fill: $primary-accent

      flex-shrink: 0
