header.page-header
  img(src="", alt="alt").logo

  nav
    ul
      li
        a(href="#features") Преимущества
      li
        a(href="#specs") Характеристики
      li
        a(href="#for_whom") Для кого
