sections.features#features
  figure._wrapper.container

    +createVideo("features", "photo2", isSimpleButton=true)

    figcaption._text
      h2._headline Преимущества

      article.product-info
        h3._title Дизайн
        p._subtitle Внешний вид скутера дышит идеями футуризма:
        ul._list
          li._spec плавные линии
          li._spec подсветка светодиодными индикаторами
          li._spec рельефные бамперы, оснащенные защитными панелями

      article.product-info
        h3._title Цвет
        p Модель представлена сразу в нескольких цветах.
        ul._list
          li лаймовый
          li бирюзовый
          li красный
          li белый
          li черный


