sections.features#features
  figure._wrapper.container

    +createVideo("features", "photo2", isSimpleButton=true)

    figcaption._text
      h2._headline Преимущества

      ul._specs

        article.product-info.-design
          h3._title Дизайн
          p._subtitle Внешний вид скутера дышит идеями футуризма:
          ul._list
            li._spec плавные линии
            li._spec подсветка светодиодными индикаторами
            li._spec рельефные бамперы, оснащенные защитными панелями

        article.product-info.-color
          h3._title Цвет
          p._subtitle Модель представлена сразу в нескольких цветах.

          ._color.slider
            form.color-choose.slider__toggles
              ul._list
                +createColor("lime", "лаймовый", "#e2e837")
                +createColor("cyan", "циановый", "#00b6f1")
                +createColor("red", "красный", "#e23232")
                +createColor("white", "белый", "#f0efef")
                +createColor("black", "черный", "#0c0c0c", isChecked = true)

            ul._previews.slider__list
              +createPreview("lime", "лаймовый")
              +createPreview("cyan", "циановый")
              +createPreview("red", "красный")
              +createPreview("white", "белый")
              +createPreview("black", "черный")









