sections.features#features
  figure._wrapper.container

    +createVideo("features", "photo2", isSimpleButton=true)

    figcaption._text
      p._decorative.decorative.headline
        span.product__ver= product.ver
        <br>
        | #{product.company}
      h2._headline.section-name Преимущества

      ul._specs

        article.product-info.-design
          h3._title Дизайн
          p._subtitle Внешний вид скутера дышит идеями футуризма:
          ul._list
            li._spec плавные линии
            li._spec подсветка светодиодными индикаторами
            li._spec рельефные бамперы, оснащенные защитными панелями

        article.product-info.-color.slider
          form.color-choose
            legend.product-info__title.pointer-anchor Цвет
              +drawPointer("18", "290", "features", "18,1 2,1 2,288", "2", "288")
            p.product-info__subtitle Модель представлена сразу <br> в нескольких цветах.

            ul._list.slider__toggles
              +createColor("lime", "лаймовый", "#e2e837", isChecked = true)
              +createColor("cyan", "циановый", "#00b6f1")
              +createColor("red", "красный", "#e23232")
              +createColor("white", "белый", "#f0efef")
              +createColor("black", "черный", "#0c0c0c")

          ._background
          ul.slider__list.__previews
            +createPreview("lime", "лаймовый")
            +createPreview("cyan", "циановый")
            +createPreview("red", "красный")
            +createPreview("white", "белый")
            +createPreview("black", "черный")









