sections.features#features
  h2 Преимущества

  h3 Дизайн
  p Внешний вид скутера дышит идеями футуризма:
  ul
    li плавные линии
    li подсветка светодиодными индикаторами
    li рельефные бамперы, оснащенные защитными панелями


  h3 Цвет
  p Модель представлена сразу в нескольких цветах.
  ul
    li лаймовый
    li бирюзовый
    li красный
    li белый
    li черный


