<section class="for-whom" id="for-whom">
  <div class="for-whom__wrapper">
    <figure class="for-whom__content container">
      <svg class="for-whom__decorative decorative" role="img" focusable="false" width="0" height="0">
        <use xlink:href="#logo__gear"></use>
      </svg>
      <div class="for-whom__media">
        <p class="for-whom__media-decorative decorative headline"><span class="product__ver">{{product.ver}}</span><br>{{product.company}}</p>
        <img class="for-whom__image" src="img/photo3.jpg" alt="Целевая аудитория" width="590" height="376" />
      </div>
      <figcaption class="for-whom__text">
        <h2 class="for-whom__title section-name">Для кого</h2>
        <p class="for-whom__message">При максимально выдерживаемой нагрузке в <b class="strong">100 кг </b>отлично
          подойдёт, <br> как для подрастающего поколения, <br> так и для более взрослых «наездников».</p>
        <p>Это единственный гироскутер со специальным детским режимом <br> езды.</p><a
          class="for-whom__button button button--invert" href="/catalogue">Перейти в каталог</a>
      </figcaption>
    </figure>
  </div>
</section>
