section.for-whom#for-whom
  ._wrapper
    figure._content.container
      svg(role="img", focusable="false", width="0", height="0")._decorative.decorative
        use(xlink:href="#logo__gear")

      ._media
        p._media-decorative.decorative.headline
          span.product__ver= product.ver
          <br>
          | #{product.company}
        img(src="img/photo3.jpg", alt="Целевая аудитория", width="590", height="376")._image

      figcaption._text
        h2._title.section-name Для кого
        p._message= "При максимально выдерживаемой нагрузке в "
          b.strong= "100 кг "
          | отлично подойдёт, <br> как для подрастающего поколения, <br> так и для более взрослых «наездников».
        p Это единственный гироскутер со специальным детским режимом <br> езды.

        a(href="/catalogue")._button.button.button--invert Перейти в каталог
