section.for_whom
  h2 Для кого

  p При максимально выдерживаемой нагрузке в 100 кг отлично подойдёт, как для подрастающего поколения, так и для более взрослых «наездников». Это единственный гироскутер со специальным детским режимом езды.

  a(href="/catalogue") Перейти в каталог
