section.intro#intro
  figure._wrapper
    ._media.video
      a(href="https://youtu.be/678suPK9iIc", target="_blank")._link
        img(src="img/photo1.jpg", alt="Представляем "+productName, width="1075", height="750")._media

      button._play Смотреть видео
    figcaption._text.container

      - let headlineText = productName.split(" ");
      h1._headline
        each word in headlineText
          span!= word + "<br>"

      //- productName


      p._subheader Маневренность, легкость, экологичность
      a(href="#features") Листать вниз

//- https://i.ytimg.com/vi/neHA4MJwpnY/


//- Макеевский способ https://youtu.be/4JS70KB9GS0
