section.intro#intro

  figure._wrapper.container
    svg(role="img", focusable="false", width="0", height="0")._decorative.decorative
        use(xlink:href="#logo__gear")

    +createVideo("intro", "photo1")

    figcaption._text


      h1._title.pointer-anchor.headline
        | #{product.company}<br>
        +drawPointer("20", "72", "intro", "0,71 17,71 17,3", "17", "3")
        | #{product.line}<br>
        b.product__ver= product.ver

      p._subtitle.subheadline Маневренность, легкость, экологичность
      a(href="#features")._scroll-down Листать вниз
        svg(role="img", focusable="false", width="12", height="96")._scroll-down-arrow
          use(xlink:href="#icon-down")
