<section class="intro" id="intro">
  <figure class="intro__wrapper container">
    <svg class="intro__decorative decorative" role="img" focusable="false" width="0" height="0">
      <use xlink:href="#logo__gear"></use>
    </svg>

    {{ macro.createVideo("intro", "photo1") }}

    <figcaption class="intro__text">
      <h1 class="intro__title pointer-anchor headline">
        {{ product.company }}<br>
        {{ macro.drawPointer("20", "72", "intro", "0,71 17,71 17,3", "17", "3") }}
        {{ product.line }}<br>
        <b class="product__ver">{{product.ver}}</b>
      </h1>
      <p class="intro__subtitle subheadline">Маневренность, легкость, экологичность</p>

      <a class="intro__scroll-down" href="#features">Листать вниз
        <svg class="intro__scroll-down-arrow" role="img" focusable="false" width="12" height="96">
          <use xlink:href="#icon-down"></use>
        </svg>
      </a>
    </figcaption>
  </figure>
</section>
