sections.specs#specs
  figure._wrapper.container

    +createVideo("specs", "specs", isSimpleButton = false, alt="Представляем "+ title, id="Ryaj7_Vm16E")
    ficaption._text
      h2._headline.section-name Характеристики
      article.product-info
        h3._title Режимы
        p Помимо «умной» подсветки, Hovertrax 4.0 снабжён двумя скоростными режимами.
        ul._list
          li._spec Один для продвинутых пользователей
          li._spec  Второй для новичков

        p 13 км/ч Максимальная скорость
        p 2 Скоростных режима
