sections.specs#specs
  ._wrapper.container
    h2._headline Характеристики

    article.product-info
      h3._title Режимы
      p Помимо «умной» подсветки, Hovertrax 4.0 снабжён двумя скоростными режимами.
      ul._list
        li._spec Один для продвинутых пользователей
        li._spec  Второй для новичков

      p 13 км/ч Максимальная скорость
      p 2 Скоростных режима
