sections.specs
  h2 Характеристики

  h3 Режимы
  p Помимо «умной» подсветки, Hovertrax 4.0 снабжён двумя скоростными режимами.
  ul
    li Один для продвинутых пользователей
    li Второй для новичков

  p 13 км/ч Максимальная скорость
  p 2 Скоростных режима
