mixin createVideo(sectionName, prevPic, isSimpleButton = false, alt="Представляем "+ title, id="678suPK9iIc")
  .video(data-id= id, class= sectionName + "__media")
    a(href="https://youtu.be/"+id)._link
      img(src=`img/${prevPic}.jpg`, alt= alt, class= sectionName + "__preview", height="200")._preview

      if isSimpleButton
        button._play.-simple
          span.visually-hidden!= `Смотреть видео`
          svg(role="img", focusable="false", width="40", height="44")._play-icon.-simple
            use(xlink:href="#icon-play")
      else
        button(class= sectionName + "__play")._play
          span._play-text!= `Смотреть <br> видео`
          svg(role="img", focusable="false", width="66", height="72")._play-icon
            use(xlink:href="#icon-play")
